.build/*
.DS_Store
.build/.lock
.build/arm64-apple-macosx/debug/description.json
.build/arm64-apple-macosx/debug/index/store/v5/units/LighthouseApp.swift.o-2R3W8Y87QRVTN
.build/arm64-apple-macosx/debug/index/store/v5/units/MenuBarView.swift.o-M2U66M52OTNI
.build/arm64-apple-macosx/debug/index/store/v5/units/PortInfo.swift.o-2EMWVIBPXAWMY
.build/arm64-apple-macosx/debug/index/store/v5/units/PortRowView.swift.o-VSESQWO439TI
.build/arm64-apple-macosx/debug/index/store/v5/units/PortScanner.swift.o-3FY3IJM7QWB6Y
.build/arm64-apple-macosx/debug/index/store/v5/units/PortViewModel.swift.o-3AO34G62IMMLU
.build/arm64-apple-macosx/debug/Lighthouse
.build/arm64-apple-macosx/debug/Lighthouse.build/Lighthouse.emit-module.d
.build/arm64-apple-macosx/debug/Lighthouse.build/LighthouseApp.d
.build/arm64-apple-macosx/debug/Lighthouse.build/LighthouseApp.swift.o
.build/arm64-apple-macosx/debug/Lighthouse.build/LighthouseApp.swiftdeps
.build/arm64-apple-macosx/debug/Lighthouse.build/master.priors
.build/arm64-apple-macosx/debug/Lighthouse.build/MenuBarView.d
.build/arm64-apple-macosx/debug/Lighthouse.build/MenuBarView.swift.o
.build/arm64-apple-macosx/debug/Lighthouse.build/MenuBarView.swiftdeps
.build/arm64-apple-macosx/debug/Lighthouse.build/output-file-map.json
.build/arm64-apple-macosx/debug/Lighthouse.build/PortInfo.d
.build/arm64-apple-macosx/debug/Lighthouse.build/PortInfo.swift.o
.build/arm64-apple-macosx/debug/Lighthouse.build/PortInfo.swiftdeps
.build/arm64-apple-macosx/debug/Lighthouse.build/PortRowView.d
.build/arm64-apple-macosx/debug/Lighthouse.build/PortRowView.swift.o
.build/arm64-apple-macosx/debug/Lighthouse.build/PortRowView.swiftdeps
.build/arm64-apple-macosx/debug/Lighthouse.build/PortScanner.d
.build/arm64-apple-macosx/debug/Lighthouse.build/PortScanner.swift.o
.build/arm64-apple-macosx/debug/Lighthouse.build/PortScanner.swiftdeps
.build/arm64-apple-macosx/debug/Lighthouse.build/PortViewModel.d
.build/arm64-apple-macosx/debug/Lighthouse.build/PortViewModel.swift.o
.build/arm64-apple-macosx/debug/Lighthouse.build/PortViewModel.swiftdeps
.build/arm64-apple-macosx/debug/Lighthouse.build/ProcessManager.d
.build/arm64-apple-macosx/debug/Lighthouse.build/ShellExecutor.d
.build/arm64-apple-macosx/debug/Lighthouse.build/ShellExecutor.swiftdeps
.build/arm64-apple-macosx/debug/Lighthouse.build/sources
.build/arm64-apple-macosx/debug/Lighthouse.dSYM/Contents/Resources/DWARF/Lighthouse
.build/arm64-apple-macosx/debug/Lighthouse.dSYM/Contents/Resources/Relocations/aarch64/Lighthouse.yml
.build/arm64-apple-macosx/debug/Lighthouse.product/Objects.LinkFileList
.build/arm64-apple-macosx/debug/Modules/Lighthouse.swiftdoc
.build/arm64-apple-macosx/debug/Modules/Lighthouse.swiftmodule
.build/arm64-apple-macosx/debug/Modules/Lighthouse.swiftsourceinfo
.build/arm64-apple-macosx/debug/plugin-tools-description.json
.build/build.db
.build/debug.yaml
.build/plugin-tools.yaml
